@media only screen and (max-width: 1370px) { 

    .overlay{
        max-height: 41rem;
    }
    .overlay-paragraph h4{
        font-size: 2rem;
    }
    .overlay-paragraph h5{
        font-size: 1.7rem;
        line-height: 3rem;
    }
    .overlay-paragraph p{
        font-size: 1.3rem;
        padding: 2rem;
        line-height: 1.8rem;
    }
    .myBtn .arrow-down{
        font-size: 250%;
    }
    .navigation-border1{
        grid-row: 2/5;
        margin-top: 3rem;
    }
    .navigation-border2{
        grid-row: 8/12;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .social-media .fa{
        font-size: 120%;
        padding: 0.8rem;
    }
    .social-media .fa:hover{
        font-size: 130%;
        padding: 0.8rem;
    }

/************overlay-2***************/

    .overlay-2 img{
        max-height: 41rem;
    }

/************slide 3****************/

    .content{
        max-height: 41rem;
    }
    .content-h1{
        grid-row: 3/5;
    }
    .content h4{
        font-size: 2rem;
        margin: 0;
    }
    .content-paragraph{
        grid-row: 4/12;
        font-size: 1.3rem;
        line-height: 1.8rem;
        padding: 0 2rem;
    }
    .data{
        margin: 0;
    }
    #myBtn2 .fa-chevron-circle-up{
        font-size: 250%;
    }
    .waterfall-box2-text{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .waterfall-box-2-border{
        border-bottom: 1px solid white;
    }
    .waterfall-box-2-slide-number{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .active-box3{
        margin: 0 5rem; 
        margin-bottom: -10px;
    }
    .active-box4{
        margin: 0 5rem; 
    }
    .content .fa{
        font-size: 85%;
        padding: 0.55rem;
    }

}


